# Visual Studio
.vs/
*.VC.db
*.suo
*.user

# Build outputs
x64/
Debug/
Release/
CanonBulletTime/x64/
*.obj
*.ilk
*.idb
*.pdb
*.tlog
*.lastbuildstate
*.recipe
*.log
*.pgd
*.iobj
*.ipdb

# Distribuição / releases
dist/
release/
*.zip
*.exe
*.dll

# Python
__pycache__/
*.pyc